
body {
    background-color: aqua;
}

h1, p {
    display: flex;
    justify-content: center;
}

#img, #idade, .botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



